.combobox {
  width: 100%;
  display: flex;
  align-items: center;
  height: 22px;
  border: 1px solid #c1c1c1;
  background-color: #fff;
}

.combobox.hide-border {
  border-color: transparent;
}

.combobox-error {
  border-color: #e04742;
}

.combobox-focus,
.combobox-focus.hide-border {
  border-color: #0072bc!important;
}

.cbb-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cbb-input {
  flex: 1;
  outline: none;
  border: none;
  font-size: 12px;
  padding: 0 5px;
}

.add-button {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cbb-option {
  position: fixed;
  max-height: 300px;
  overflow: auto;
  z-index: 1000;
  background-color: #fff;
  box-shadow: rgb(136 136 136) 0px 3px 10px -3px;
  border-radius: 2px;
}

.cbb-list-item,
.cbb-list-item-table {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cbb-list-item-table {
  border: 1px solid #c1c1c1;
}

.cbb-item {
  padding: 1px 6px;
  line-height: 22px;
  cursor: pointer;
  position: relative;
}

.item-selected,
.cbb-item:hover, .cbb-item-table:hover {
  background-color: #d6e8f6;
  cursor: pointer;
}

.cbb-item-table {
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  height: 30px;
  align-items: center;
}

.table-title {
  background-color: #ededed;
  font-weight: 600;
  text-align: center;
}

.table-title .item-code {
  justify-content: center;
}

.cbb-item-table:last-child {
  border: none;
}

.item-code {
  width: 118px;
  border-right: 1px solid #c1c1c1;
  padding: 0 6px;
  height: 100%;
  display: flex;
  align-items: center;
}

.item-name {
  width: 238px;
  padding: 0 6px;
}
