.button {
  height: 25px;
  min-width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  outline: none;
  /* border-radius: 2px; */
  border: 1px solid;
  cursor: pointer;
}

.button.disabled {
  opacity: 0.6;
  cursor: default;
}

.button.disabled:hover,
.button.disabled:active {
  background-color: #fafafa !important;
  border-color: #ccc !important;
}

.button-1 {
  background-color: #fafafa;
  border-color: #ccc;
}

.button-1:hover,
.button-1:active,
.button-1:focus {
  background-color: #e4f2ea;
  border-color: #0072bc;
}

.button-2 {
  background-color: #0072bc;
  border-color: #0072bc;
  color: #fff;
}

.button-2:hover,
.button-2:active,
.button-2:focus {
  background-color: #008ce6;
  border-color: #008ce6;
}

.button-icon {
  margin-right: 8px;
}
