.popup-dish-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.4) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-dish {
  width: 740px;
  height: 615px;
  z-index: 100;
  border-radius: 4px;
  background-color: #0072bc;
}

.popup-dish-inner {
  margin: 5px;
  background-color: #fff;
  height: calc(100% - 10px);
}

.popup-dish-header {
  height: 20px;
  padding-bottom: 5px;
  padding-inline: 4px;
  background-color: #0072bc;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}

.popup-dish-body {
  padding: 8px;
}

.popup-dish-tab {
  width: 100%;
  height: 28px;
  background-color: #f2f2f2;
  display: flex;
}

.pdt-option {
  padding: 5px 8px;
  border-inline: 1px solid transparent;
  border-top: 2px solid transparent;
  cursor: pointer;
}

.pdt-option.selected,
.pdt-option.selected:hover {
  background-color: #fff;
  border-inline-color: #d3d3d3;
  border-top-color: #0072bc;
  color: #0072bc;
}

.pdt-option:hover {
  background-color: rgba(127, 199, 227, 0.4);
  border-inline-color: #d3d3d3;
  border-top-color: #005082;
  color: #0072bc;
}

.popup-dish-input {
  padding-top: 4px;
}

.pdi-1 {
  display: flex;
}

.pdi-1-left {
  flex: 1;
}

.pdi-1-right {
  width: 210px;
}

fieldset {
  margin: 0;
  border: 1px solid #afafaf;
  padding: 0 8px 8px;
}

.pdi-image {
  width: 160px;
  height: 160px;
}

.pdi-image-text {
  font-size: 12px;
  text-align: center;
}

.pdi-label {
  margin-left: 4px;
  flex: 1;
}

.pdi-label-icon {
  padding: 3px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 4px;
}
