.table {
  border-spacing: 0;
  min-width: 100%;
  overflow: unset;
  /* position: relative; */
}

.table input {
  width: 100%;
}

.table-header {
  position: sticky;
  top: 0;
}

.table-header tr {
  border: 1px solid #c1c1c1;
  border-right: none;
}

.table-header td {
  height: 62px;
  padding: 0;
  border: 1px solid #c1c1c1;
  border-top: none;
  background-color: #ededed;
  border-left: none;
}

.table-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 26px);
}

.table-column:hover {
  background-color: #eef6fb;
}

.table-filter {
  display: flex;
  padding: 0 3px 2px;
}

.filter-type {
  width: 22px;
  height: 22px;
  border: 1px solid #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-type:hover {
  border-color: #fbb13c;
  background-color: #eef6fb;
}

.table-body td {
  border: 1px solid #c1c1c1;
  border-top: none;
  padding: 5px 10px 4px;
  border-left: none;
}

.table-body tr:hover {
  background-color: #e2eff8;
  cursor: default;
}

.table-loading {
  width: 100%;
  height: calc(100% - 63px);
  position: absolute;
}
