.menu-pagination {
  border: 1px solid #c1c1c1;
  border-top: none;
  height: 25px;
  color: #333f49;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-icon {
  padding: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.pagination-icon.disabled {
  opacity: 0.6;
  cursor: default;
}

.menu-pagination-left {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-pagination .input-wrapper {
  width: auto;
}

.menu-pagination input {
  max-width: 26px;
}

.menu-pagination-right {
  padding: 0 4px;
  margin-right: 8px;
}

.menu-pagination .combobox {
  width: fit-content !important;
}
