.icon-left-header {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url(@/assets/images/icon-left-header.png);
  background-repeat: no-repeat;
}

.icon-white-drop-arrow {
  width: 22px;
  height: 32px;
  background-image: url(@/assets/images/trigger.png) !important;
  background-position: 0 center;
  cursor: pointer;
}

.icon-grey-drop-arrow {
  width: 22px;
  height: 22px;
  background-image: url(@/assets/images/trigger-grey.png) !important;
  background-position: 0 center;
  cursor: pointer;
}

.icon-notification {
  background-image: url(@/assets/images/megaphone.svg) !important;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-dashboard {
  background-image: url(@/assets/images/iconMenu.png);
  width: 24px;
  height: 24px;
  background-position: 0 533px;
  margin: 0 8px;
}

.icon-menu {
  width: 24px;
  height: 24px;
  background-position: 0 1px;
  background-image: url(@/assets/images/vector-smart-object.png);
  background-repeat: no-repeat;
  margin: 0 5px 0 11px;
}

.icon-agree {
  background: url(@/assets/images/IconSprite.png) no-repeat 0 -1842px;
  width: 15px;
  height: 13px;
}

.icon-danger {
  background-image: url(@/assets/images/exclamation.png);
  width: 16px;
  height: 16px;
}

.icon-add {
  background: url(@/assets/images/IconSprite.png) no-repeat 0 -960px;
  width: 15px;
  height: 15px;
}
