.popup-dish-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.4) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-dish {
  width: 750px;
  height: 625px;
  z-index: 100;
  border-radius: 4px;
  background-color: #0072bc;
}

.popup-dish-inner {
  margin: 5px;
  background-color: #fff;
  height: calc(100% - 10px);
  display: flex;
  flex-direction: column;
}

.popup-dish-header {
  height: 20px;
  padding-bottom: 5px;
  padding-inline: 4px;
  background-color: #0072bc;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}

.popup-dish-body {
  padding: 8px;
  flex: 1;
  position: relative;
}

.popup-dish-tab {
  width: 100%;
  height: 28px;
  background-color: #f2f2f2;
  display: flex;
}

.pdt-option {
  padding: 5px 8px;
  border-inline: 1px solid transparent;
  border-top: 2px solid transparent;
  cursor: pointer;
}

.pdt-option.selected,
.pdt-option.selected:hover {
  background-color: #fff;
  border-inline-color: #d3d3d3;
  border-top-color: #0072bc;
  color: #0072bc;
}

.pdt-option:hover {
  background-color: rgba(127, 199, 227, 0.4);
  border-inline-color: #d3d3d3;
  border-top-color: #005082;
}

.popup-dish-input {
  padding-top: 8px;
}

.pdi-1 {
  display: flex;
}

.pdi-1-left {
  flex: 1;
  margin-right: 8px;
  margin-top: 7px;
}

.pdi-1-right {
  width: 210px;
}

fieldset {
  margin: 0;
  border: 1px solid #afafaf;
  padding: 0 8px 8px;
}

.pdi-image {
  width: 160px;
  height: 160px;
}

.pdi-image img {
  object-fit: contain;
}

.pdi-image-text {
  font-size: 12px;
  text-align: center;
}

.pdi-label {
  margin-left: 4px;
  flex: 1;
}

.pdi-label-icon {
  padding: 3px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 4px;
  cursor: pointer;
}

.form-input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-label {
  min-width: 120px;
  width: 120px;
  padding-right: 5px;
}

.popup-dish-footer {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  display: flex;
  justify-content: space-between;
}

.pdf-right {
  display: flex;
}

.pdf-right .button {
  margin-left: 8px;
}

.pdi-2-header {
  margin-bottom: 4px;
}

.pdi-2-info {
  display: flex;
  margin-top: 6px;
}

.pdi-2-message {
  margin-left: 8px;
}

.pdi-2-body {
  width: auto;
  height: 246px;
  border: 1px solid #c1c1c1;
  overflow: auto;
}

.pdi-table {
  border-spacing: 0;
  min-width: 100%;
  overflow: unset;
  position: relative;
}

.pdi-table thead td {
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  background-color: #ededed;
  min-height: 29px;
  margin: 0;
  padding: 0;
}

.pdi-table thead td div {
  padding: 7px 10px;
}

.pdi-table thead td div:hover {
  background-color: #eef6fb;
  cursor: default;
}

.pdi-table thead td:not(:last-child) {
  border-right: 1px solid #c1c1c1;
}

.pdi-table tbody tr:hover {
  background-color: #e2eff8;
}

.pdi-table tbody tr:hover input {
  background-color: #e2eff8;
}

.pdi-table tbody td {
  height: 24px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c1c1c1;
  width: fit-content;
}

.pdi-table tbody td:not(:last-child) {
  border-right: 1px solid #c1c1c1;
}

.pdi-2-footer {
  margin-top: 2px;
  display: flex;
}

.pdi-2-footer .button {
  margin-right: 4px;
}

.pdi-table .combobox {
  width: calc(100% - 1px);
  background-color: transparent;
}

.pdi-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.pdi-table tbody tr:nth-child(even) input {
  background-color: #fafafa;
}

.pdi-label-icon:hover,
.pdi-label-icon:focus {
  background-color: #e4f2ea;
  border-color: #0072bc;
}
