.menu-list {
  padding: 18px 9px 9px;
  width: calc(100% - 18px);
  height: calc(100% - 27px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family: san;
}

.menu-list-title {
  font-size: 22px;
  margin-bottom: 12px;
}

.toolbar {
  width: calc(100% - 6px);
  padding: 2px;
  height: 22px;
  background-color: #ededed !important;
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e3e4e6);
  border: 1px solid #d9d9d9;
  border-bottom: none;
  display: flex;
  align-items: center;
}

.toolbar-button {
  padding: 2px 4px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 9px;
  cursor: pointer;
}

.toolbar-button:hover {
  background-color: #fff;
  border-color: #0072bc;
}

.toolbar-button:active {
  background-color: #ccc;
  border-color: #0072bc;
}

.toolbar-button-text {
  font-size: 12px;
  padding: 0 5px;
}

.separator-hor {
  margin: 0 8px 0 0;
  height: 14px;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-left-color: #ccc;
  border-right-color: #fff;
}

.menu-table {
  width: calc(100% - 2px);
  border: 1px solid #c1c1c1;
  overflow: auto;
  flex: 1;
position: relative;
}

.option-menu {
  background-color: #fff;
  width: 128px;
  border: 1px solid #e1e1e1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.option-menu-item {
  display: flex;
  height: 24px;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
}

.option-menu-item:hover {
  background-color: #dee8f6;
}

.option-menu-sepatator {
  height: 1px;
  border-top: 1px solid #e1e1e1;
}
