.table {
  border-spacing: 0;
  min-width: 100%;
  overflow: unset;
  /* position: relative; */
}

.table input {
  width: 100%;
}

.table-header {
  position: sticky;
  top: 0;
}

.table-header tr {
  border: 1px solid #c1c1c1;
  border-right: none;
}

.table-header td {
  height: 84px;
  padding: 0;
  border: 1px solid #c1c1c1;
  border-top: none;
  background-color: #ededed;
  border-left: none;
}

.table-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 26px);
  cursor: default;
}

.table-column:hover {
  background-color: #eef6fb;
}

.table-filter {
  display: flex;
  padding: 0 3px 2px;
}

.filter-type {
  width: 22px;
  height: 22px;
  border: 1px solid #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter-type:hover {
  border-color: #fbb13c;
  background-color: #eef6fb;
}

.table-body td {
  border: 1px solid #c1c1c1;
  border-top: none;
  padding: 5px 10px 4px;
  border-left: none;
}

.table-body tr:hover {
  background-color: #e2eff8 !important;
  cursor: default;
}

.table-body tr.selected {
  background-color: #d9e9f4 !important;
}

.table-loading {
  width: 100%;
  height: calc(100% - 63px);
  position: absolute;
}

.table-body tr:nth-child(even) {
  background-color: #fafafa;
}

.filter-item {
  line-height: 24px;
  padding-right: 5px;
  cursor: pointer;
}

.filter-item:hover {
  background-color: #d6e8f6;
}

.filter-selected {
  background: url(@/assets/images/table-circle-blue16.png) no-repeat 5px center;
}

.filter-item div {
  margin-left: 26px;
}

.sort-colum-ASC {
  padding-right: 17px;
  background: url(@/assets/images/sort_asc.png) no-repeat top right;
}

.sort-colum-DESC {
  padding-right: 17px;
  background: url(@/assets/images/sort_desc.png) no-repeat top right;
}

